@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 4em;
}

header > p{
    padding-bottom: 50px;
}

a{
    text-decoration: none;
    font-weight: bold;
    background-image: linear-gradient(to right, rgb(145, 245, 15), rgb(0, 217, 255));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease-in-out;
    
}
a:hover{
    border-bottom: 2px solid white;
}

.normal{
    background-color: white;
    color: black;
}
   

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fonte3);
    font-size: 1.5em;
}
section > p{
    padding-bottom: 2em;
}
.imagem{
    background-color: rgba(0, 0, 0, 0.384);
    color: white;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.432);
    background-attachment: fixed;

}
.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.397);
    text-shadow: 2px 2px 0px black;
}

#img{
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
    background-size: cover;
}

#img2{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-size: cover;
}

footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}